body {
  max-width: 100%;
}

table{

}
fieldset {
  width: 60%;
}

table, tr, th, td {
   border: 1px blue solid;
   border-radius: 5%;
   align-self: center; 
}

th {
  background-color: ;
}

bigStupidTotal {
  font-style: bold;
}

Make fish image bullets on the page!!!
