body {
  max-width: 100%;
}

table{

}
fieldset {
  width: 60%;
}

table, tr, th, td {
   border: 1px blue solid;
   border-radius: 5%;
   margin:
}

th {
  background-color: ;
}

Make fish image bullets on the page!!!

Embed some kind of salmon video?
